<h4 class="mt-md-4 mb-md-4">Employee Registartion</h4>

<form class="form" #e="ngForm" (ngSubmit)="empRegistrationData(e)" >
    <div class="form-group">
      <label for="firstName"> First Name </label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="empData.firstName" #firstName="ngModel" name="firstName" [ngClass]="{'is-invalid': e.submitted && firstName.invalid}"/>
      <div *ngIf="e.submitted && firstName.invalid" class="invalid-feedback">
        <div *ngIf="firstName.errors.required">First Name is mandatory</div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName"> Last Name </label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="empData.lastName" #lastName="ngModel" name="lastName" [ngClass]="{'is-invalid': e.submitted && lastName.invalid}"/>
      <div *ngIf="e.submitted && lastName.invalid" class="invalid-feedback">
        <div *ngIf="lastName.errors.required">Last Name is mandatory</div>
      </div>
    </div>
    <div class="form-group">
      <label> Gender </label> <br /> 
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="gender" [(ngModel)]="empData.gender" #gender="ngModel" value="Male" required>Male
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="gender" [(ngModel)]="empData.gender" #gender="ngModel" value="Female" required>Female
        </label>
      </div>
      <div *ngIf="e.submitted && gender.invalid" class="invalid-feedback">
          <div *ngIf="gender.errors.required">Gender is mandatory</div>
        </div>
    </div>
    <div class="form-group">
      <label for="department"> Department </label>
      <input type="text" class="form-control" id="department" required [(ngModel)]="empData.department" #department="ngModel" name="department" [ngClass]="{'is-invalid': e.submitted && department.invalid}"/>
      <div *ngIf="e.submitted && department.invalid" class="invalid-feedback">
        <div *ngIf="department.errors.required">Department is mandatory</div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary mr-md-3">Register</button>
      <button type="button" class="btn btn-danger" (click)="clearValues()">Clear</button>
    </div>
</form>